<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{css/estils.css}">
</head>
<body>
	<h1 th:text="${titol}"></h1>
	<table class="tableSearchPaginaBusqueda">
		<thead>
			<tr>
				<th th:text="${titolTextRecerca}">
			</tr>

		</thead>
		<tbody>
			<tr>
				<td>
					<form action="/buscar" method="post">
						<input type="text" name=buscar> <input type="submit"
							value="Buscar">
					</form>

				</td>
			</tr>

		</tbody>

	</table>

</body>
</html>