<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado Empleados</title>
<link rel="stylesheet" th:href="@{css/estils.css}">

</head>
<body>
	<table class="tableSearch">
		<tr>
			<th><span>Cerca: </span> <span th:text="${buscar}"></span></th>
		</tr>
		<tr>
			<td>
				<a th:href="@{/}">[Recerca] 
				<a th:href="@{/insertar}">[Crear Empleat]</a>
			</td>
		</tr>
	</table>
	<br>
	<table class="tableListEmpleats">
		<thead>
			<tr>
				<th>Id
				<th>Nom
				<th>Faena
				<th>Salari
				<th>Modificar
				<th>Borrar
			</tr>
		</thead>
		<tbody>
			<tr th:if="${empleats.empty}">
				<td colspan="6">No hay Empleados</td>
			</tr>
			<tr th:each="empleat:${empleats}">
				<td><span th:text="${empleat.id}"></span></td>
				<td><span th:text="${empleat.nom}"></span></td>
				<td><span th:text="${empleat.faena}"></span></td>
				<td><span th:text="${empleat.salari}"></span></td>

				<td><a th:href="@{/modificar/}+${empleat.id}">Modificar</a></td>
				<!--  -->
				<td><a th:href="@{/borrar/}+${empleat.id}">Borrar</a></td>
			</tr>
		</tbody>
	</table>
	<!-- 
	<form th:action="${action}" th:object="${empleat}" method="post">
	<br>
		<input type="text" th:field="*{id}" th:value="*{id}">
		<input type="text" name="nom" th:field="*{nom}" th:value="*{nom}">
		<input type="submit" name="submit" th:value="${boton}">
	</form>	
	 -->

	<!-- Formulari modificació empleat -->
	<br>

	<form th:action="${action}" method="post">
		<table class="tableCreateEmpleat">

			<tr>
				<th id="thFormCreate">Id</th>
				<td><input type="text" name="id" th:value="*{id}" readonly></td>
			</tr>
			<tr>
				<th>Nom</th>
				<td><input type="text" name="nom" th:value="${empleat?.nom}"></td>
			</tr>
			<tr>
				<th>Faena</th>
				<td><input type="text" name="faena"
					th:value="${empleat?.faena}"></td>
			</tr>
			<tr>
				<th>Salari</th>
				<td><input type="text" name="salari"
					th:value="${empleat?.salari}"></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" name="submit"
					th:value="${boton}"></td>
			</tr>
		</table>
	</form>
	<hr>

</body>
</html>