<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Listado Empleados</title>
</head>
<body>
<!-- 
Recogemos por parametro el contenido de la variable buscar que 
esta dentro del metodo buscar en el Controlador.java
 -->

<table border="1" style="width:70%">
	<tr>
		<th style="width:40%"><span>Cerca</span></th>			
		
		<th><span th:text="${buscar}"></span></th>
	</tr>
	<tr>		
		<td><a th:href="@{/insertar}">Inserta Empleat</a></td><!--  -->
		<td>&nbsp;</td>		
	</tr>
</table>

</table>
	<table border="1" style="width:70%">
		<thead>
			<tr>
				<th>Id
				<th>Nom
				<th>Faena				
				<th>Modificar
				<th>Borrar
			</tr>
		</thead>
		<tbody>
			<tr th:if="${empleats.empty}">
				<td colspan="6"> No hay Empleados </td>
			</tr>		
			<tr th:each="empleat:${empleats}">
				<td><span th:text="${empleat.id}"></span></td>
				<td><span th:text="${empleat.nom}"></span></td>
				<td><span th:text="${empleat.faena}"></span></td>
				
				<td><a th:href="@{/modificar/}+${empleat.id}">Modificar</a></td><!--  -->
				<td><a th:href="@{/borrar/}+${empleat.id}">Borrar</a></td><!--  -->
				
			</tr>
		</tbody>	
	</table>
	<!-- 
	<form th:action="${action}" th:object="${empleat}" method="post">
	<br>
		<input type="text" th:field="*{id}" th:value="*{id}">
		<input type="text" name="nom" th:field="*{nom}" th:value="*{nom}">
		<input type="submit" name="submit" th:value="${boton}">
	</form>	
	 -->
	 
	 <!-- Formulari modificació empleat -->
	 <br>
	<form th:action="${action}" method="post">
		<table border="1" style="width:70%" >
			 
			<tr>
				<th>Id</th>
				<td><input type="text" name="id" th:value="*{id}" ></td>				
			</tr>
			 
			
			<tr>
				<th>Nom</th>
				<td><input type="text" name="nom" th:value="${empleat?.nom}"></td>
			</tr>
			<tr>
				<th>Faena</th>
				<td>
				<!--  <input type="text" name="faena" th:value="${empleat?.faena}"> -->
				<select name="faena">
				<option th:each="faena:${T(com.ascii274.practica.bean.EnumFeina).values()}"
			th:value="${faena}" th:text="${faena}" th:selected="${faena == empleat?.faena}">
			</option>		
				
				</select>
				
				</td>
			</tr>
			<tr>				
				<td colspan="2" ><input type="submit" name="submit" th:value="${boton}"></td>
			</tr>
		</table>
	</form>

</body>
</html>