<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado empleados</title>
</head>
<body>
<!-- 
Recogemos por parametro el contenido de la variable buscar que 
esta dentro del metodo buscar en el Controlador.java
 -->
<h3>Busqueda: <span th:text="${buscar}"></span></h3>
	<table border="1" style="width:70%">		
		<tr>
			<td>
				<a th:href="@{/}">[Recerca] 
				<a th:href="@{/insertar}">[Crear Empleat]</a>
			</td>
		</tr>
	</table>


	<table border="1" style="width:70%">
		<thead>
			<tr>
				<th>Id
				<th>Nom
				<th>Faena
				<th>Salari
				<th>Modificar
				<th>Borrar
			</tr>
		</thead>
		<tbody>
			<tr th:if="${empleats.empty}">
				<td colspan="6"> No hay Empleados </td>
			</tr>		
			<tr th:each="empleat:${empleats}">
				<td><span th:text="${empleat.id}"></span></td>
				<td><span th:text="${empleat.nom}"></span></td>
				<td><span th:text="${empleat.faena.nomTreball}"></span></td>
				<td><span th:text="${empleat.faena.salari}"></span></td><!-- enum(faena).getSalari -->
				<td><a th:href="@{/modificar/}+${empleat.id}">Modificar</a></td><!--  -->
				<td><a th:href="@{/borrar/}+${empleat.id}">Borrar</a></td><!--  -->
			</tr>
		</tbody>	
	</table>

	 <!-- Formulari modificació empleat -->
	 <br>
	<form th:action="${action}" method="post">
		<table border="1" style="width:70%"  >
			<tr>
				<th>Id</th>
				<td><input type="text" name="id" th:value="*{id}" ></td>
			</tr>
			<tr>
				<th>Nom</th>
				<td><input type="text" name="nom" th:value="${empleat?.nom}"></td>
			</tr>
			<tr>
				<th>Faena</th>
				<td>
				<!--  <input type="text" name="faena" th:value="${empleat?.faena}"> -->
				<select name="faena">
				<option th:each="faena:${T(com.ascii274.practica.bean.EnumFeina).values()}"
			th:value="${faena}" th:text="${faena}" th:selected="${faena == empleat?.faena}">
			</option>		
				
				</select>
				
				</td>
			</tr>
			<tr>				
				<td colspan="2" ><input type="submit" name="submit" th:value="${boton}"></td>
			</tr>
		</table>
	</form>

</body>
</html>